/* custom styles */
body{
    overflow: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #444444;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #ececec;
}

p {
    -webkit-margin-after: initial;
}

/*--------- Color Settings ---------------------*/

/* Border Header */
header{
    border-bottom-color: #F7E819;
}

.buttonset.one{
    background-color: #F7E819;
}
.buttonset.one:hover{
    background-color: #eadc12;
}
.buttonset.two{
    background-color: #F7E819;
}
.buttonset.two:hover{
    background-color: #eadc12;
}
h1{
    color: #F7E819;
}
h2{
    color: black;
}
.divider{
    background: #F7E819;
}

/*Hintergrundfarbe Aktive Storyelemente*/
.story-content.active{
    background-color: #F3F3F3;
}


/* Balloon Login Screen*/
.balloon.teaser-balloon h1{
    color: #595f3c;
}
.balloon {
    border: 5px solid #F7E819;
}
.balloon:before {
    border-color: #F7E819 transparent;
}
/*Hintergrundbild Startscreen*/
#story-frame.startscreen{
    background: url("../../images/backgrd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*---------------------------------------------*/


header{
    position: fixed;
    z-index: 30;
    width: 100%;
}



/* balloon widget */
div.balloon-content p.balloon-footnote {
    line-height: 1em;
    font-style: italic;
    font-size: small;
}
div.logo-box {
    width: 12rem;
}

div.cover-fill {
    width: 10rem;
}
div.title-fill {
    width: auto;
    left: 12rem;
    right: 18rem;
}

.top-nav{
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
    font-size: .9rem;
    text-decoration: none;
}

#story-frame{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 25;
    background: white;
    -webkit-transition: top .5s ease-in;
    -moz-transition: top .5s ease-in;
    -o-transition: top .5s ease-in;
    transition: top .5s ease-in;
}
#story-frame.tour{
    top: 50%;
	left: 0;
    bottom: 0;
    padding: 3rem 2rem 1rem 3rem;
}
#story-frame.tour-stop {
    top: 100%;
}
.vcs_map_container{
    bottom: 50%;
}


#balloon-startscreen.balloon{
    position: absolute;
    top: 20%;
    left: 4%;
	right: 4%;
}

#balloon-startscreen button,
.story-btn{
    border: none;
    display:inline-block;
    position: relative;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    font-weight: 600;
    padding:7px 25px;
    margin: 1.5rem .5rem .5rem 0;
    text-decoration:none;
    /*text-shadow:0px 1px 0px #810e05;*/
    border-radius: 4px;
}

#balloon-startscreen button:active,
.story-btn:active{
    position:relative;
    top:1px;
}
.balloon.teaser-balloon{
    position: absolute;
    top: 110px;
    left: 10px;
    min-width: 15rem;
}
.balloon.teaser-balloon.simple{
    min-width: 8.3rem;
    padding: 0 0 0.6rem 0;
    z-index: 8;
    cursor: pointer;
}

.balloon.teaser-balloon.simple .balloon-left-edge{
    right: 90px;
}
.balloon.teaser-balloon h1{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: 0;
}
.teaser-logo{
    display: inline-block;
    width: 60%;
    max-width: 180px;
    float: right;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.teaser-logo.logo-square{
    width: 30%;
    max-width: 100px;
}

.balloon.simple h1.simple-balloon-title{
    margin-top: .75rem;
    font-size: .9rem;
    line-height: 1rem;
}
#balloon-startscreen .balloon-content{
    margin: 1rem;
}


/* tour-frame */
#tour-frame{
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 0;
    right: 0;
}
.tour-top-navi{
    position: relative;
    height: 4rem;
    margin: 0 1rem;
}
.divider-box{
    height: 100px;
}
.divider{
    height: 10px;
}
#story-box{
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
}
#story-scroll.scroll-container{
    margin-right: .5rem;
}
#story-box.ui-scroll-content {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: scroll;
}
#story-box h1{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
#story-box h2{
    font-size: 1.5rem;
    line-height: 3rem;
}

#story-box p{
    font-size: 1rem;
    line-height: 1.8rem;
}
#story-box p.button-line{
    text-align: center;
    margin: 1.5rem 0;
}
#story-box p.image-wrap{
	position: relative;
	overflow: hidden;
    line-height: 0;
    margin: 0;
}

.story-content .story-slider{
    height: 300px;
}



.story-content{
    margin-bottom: 100px;
}

.movie-wrap{
	width: 100%;
    height: auto;
    min-height: 300px;
    margin-top: 1rem;
}

#tour-button {
    display: block;
    position: absolute;
    left: -31px;
    background-color: #F7E819;
    bottom: 16px;
    padding:.45rem .55rem;
}
#tour-button > i:before{
    content: "\f061";
}
.tour-inactive > #tour-button > i:before{
    content: "\f060";
}
@media screen and (min-width:48em /*768px*/) {
	.vcs_map_container{
		bottom: 0px;
		right: 45%
	}
	#story-frame{
/*		-webkit-transition: left .5s ease-in;
		-moz-transition: left .5s ease-in;
		-o-transition: left .5s ease-in;
		transition: left .5s ease-in;*/
	}
	#story-frame.tour {
		left: 55%;
		top: 5rem;
	}
    #story-frame.tour-stop {
        left: 120%;
        top: 5rem;
    }
    #render-story-off-btn.story-render-btn{
        right: 45%;
        left: auto;
        bottom: 0;
        padding: .1rem .75rem;
    }
    #render-story-on-btn.story-render-btn{
        right: 0;
        left: auto;
        bottom: 0;
        padding: .1rem .65rem;
    }
    #render-story-off-btn.story-render-btn .story-btn-icon:after{
         content: '\f105';
     }
    #render-story-on-btn.story-render-btn .story-btn-icon:after{
        content: '\f104';
    }
	#tour-frame {
		top: 1rem;
	}
	.tour-top-navi {
		margin: 0 1rem;
	}
	div.tool-box {
		width: auto;
	}
	#balloon-startscreen.balloon {
		position: absolute;
		top: 9%;
		left: 20%;
		right: auto;
	}
    .balloon.teaser-balloon {
        left: 2%;
    }
    #logoContainer{
        display: none;
    }
}

#logoContainer{
    display: none;
}

@media screen and (min-width:64em /*1024px*/) {
	.tour-top-navi {
		margin: 0 2rem;
	}
    #story-box.ui-scroll-content {
        padding-left: 2rem;
        padding-right: 2rem;
        overflow-y: scroll;
    }
    #story-scroll.scroll-container{
        margin-right: 1.5rem;
    }
    .balloon.teaser-balloon {
        left: 4%;
    }
}

@media screen and (min-width:75em /*1200px*/) {
	.vcs_map_container{
		right: 40%
	}
	#story-frame.tour {
		left: 60%;
	}
    .vcs_map_container.story-on{
        right: 40%;
        bottom: 0;
    }
    #render-story-off-btn.story-render-btn{
        right: 40%;
    }
    #render-story-on-btn.vcs_map_container{
        right: 40%;
        bottom: 0;
    }
    .balloon.teaser-balloon {
        left: 10px;
    }
    #logoContainer{
        display: block;
    }
}

.vcs_map_container.tour-inactive{
    right: 0px;
}

#story-frame.tour-inactive{
    left: 100%;
}

.hidden {
    display: none!important;
}
