/* Border Colors of the header */
.vcm-border-splash{
   border-color: #F7E819; 
}


/* Change these two color values to change the button Color */
.vcm-base-splash,
.vcm-btn-base-splash,
.vcm-btn-base-splash-hover.active,
.vcm-btn-base-splash-hover.selected{
  background-color: #F7E819;
}
.vcm-btn-base-splash-hover:hover,
.vcm-btn-base-splash-active:hover{
  background-color: #F7E819;
}
.vcm-font-splash,
.vcm-btn-font-splash,
.vcm-btn-font-splash-hover:hover,
.vcm-btn-font-splash-hover.active,
.vcm-btn-icon-font-splash-hover:hover,
.vcm-btn-icon-font-splash-hover.active{
  color: #F7E819;
}


/* Header Background Color */
.vcm-header-base {
  background-color: #ffffff;
}

/* Ballooon Color */
.balloon{
   border: 5px solid #95c11f; 
}
.balloon:before {
   border-color: #95c11f transparent; 
}

/** Show empty box for inactive layers in legend */
.setting-checker.inactive {
  /*display: block !important;*/
}

/* Change Company logo in the upper left corner */
.company-logo {
  background-image: url(../images/digital.png);
  width: 157px;
  height: 54px; 
}

/* Menu Text kleiner */
.header-btn-text{
	font-size: small;	
}
/* Inhalt Text kleiner */
.menu-button{
	font-size: small;	
}

/* Change these values to change the height of the header (they should all have the same value) */
.vcm-header-height {
   height: 4.5rem;
  line-height: 4.5rem; 
}
.vcm-map-top {
   top: 4.5rem; 
}

/* Change these values to change the height of the logobox in the lower left Company-box height should be 1rem less */
.vcm-map-bottom {
  /* bottom: 4rem; */
}

.company-box {
   /* height: 3.0rem; */
}

/* use this for map below header */
.mapElement {
  /* top : 0px; */
}


